@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@font-face {
  font-family: 'lobster';
  src: url('../fonts/Lobster.otf');
}

$logo-font: 'lobster', serif, sans-serif;
$primary-font: 'Open Sans', sans-serif;

$primary-color: #44c0c2;
$second-color: #485460;
$facebook-color: #3b5997;
$twitter-color: #3ec2f3;
$google-color: #e44c41;
$gray: #f1f1f1;
$black: #4e525d;
